body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #2b0000;
    color: white;
}

.hero {
    position: relative;
    height: 780px;
    background: url(Latin1.1.jpg) center/cover no-repeat;
}
.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}
.hero-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.hero h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.1;
    margin: 0;
}

.description {
    background: #7a0a0a;
    padding: 18px 40px;
}
.description p {
    margin: 0;
    color: #fff;
    font-size: 16px;
}

.federation {
    position: relative;
    width: 100%;
    height: 450px; 
    background: url(Latin1.2.webp) center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.federation-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

.federation-title {
    position: relative;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    z-index: 10;
    margin: 0;
}


.info-grid {
    display: flex;
    gap: 20px;
    padding: 30px 40px;
}

.left-box, .right-box {
    background: #4d0000;
    padding: 25px;
    border-radius: 8px;
    width: 50%;
}

.info-img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

.small {
    margin-top: 10px;
}

.button {
    background: #000;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    font-weight: bold;
}
.button.dark {
    background: #220000;
}
.button:hover {
    opacity: 0.8;
}
