body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

.hero {
    position: relative;
    height: 500px;
    background: url(Stan-1.webp) center top/cover no-repeat;
}
.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
}
.hero-text {
    position: absolute;
    top: 30%;
    right: 40px;
    color: white;
}
.hero-text h1 {
    font-size: 48px;
    line-height: 1.1;
    margin: 0;
    font-weight: 800;
}

.description {
    padding: 25px 30px;
    background: #7a0a0a;
    color: #fff;
}
.description p {
    font-size: 16px;
}

.image-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 25px 30px;
}
.image-grid img {
    width: 30%;
    border-radius: 12px;
    height: 550px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* SUBTITLE */
.subtitle {
    padding: 10px 30px;
    background: #7a0a0a;
}
.subtitle h2 {
    margin: 0;
    font-size: 20px;
    color: #fff;
}

/* TWO SMALL IMAGES */
.two-block {
    padding: 20px 30px;
}
.two-images {
    display: flex;
    gap: 20px;
}
.two-images img {
    width: 48%;
    border-radius: 12px;
    height: 800px;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.subtext {
    margin-top: 15px;
    font-size: 16px;
    color: #fff;
    background: #7a0a0a;
}

/* LOWER TEXT */
.bottom-text {
    
    padding: 20px 30px;
    background: #7a0a0a;
    
}
.bottom-text p {
    margin: 0;
    font-size: 16px;
    color: #fff;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 20px;
    padding: 20px 30px;
}
.btn {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}
.btn-dark {
    background: #000;
    color: white;
}
.btn-light {
    background: #880000;
    color: white;
}
.btn:hover {
    opacity: 0.8;
}
