body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e8eef5;
}

.container {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

.header img {
    width: 500px;
    margin-top: 20px;
}

.section-title {
    display: inline-block;
    background: #d9e6f3;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin: 15px 0 25px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-bottom: 40px;
}

.card {
    width: 250px;
    text-decoration: none;
    color: #000;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.btn {
    margin-top: 15px;
    background: #6cb7ff;
    padding: 10px 0;
    font-weight: bold;
    border-radius: 4px;
}

.back-btn-container{
    width: 150px;
    margin: 0 auto;
    background: #6cb7ff;
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
