body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222222; 
    color: #ffffff;
}

.header-section {
    padding: 20px;
    display: flex;          
    align-items: center;      
    justify-content: flex-start; 
    gap: 30px;              
    min-height: 100px;        
}
.logo{
    width: 90px; 
    height: 60px;
    background-color: black; 
    border-radius: 5px;
}


.logo img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    display: block;
}


.main-title {
    flex-grow: 1; 
    text-align: center; 
}
.main-title h1 {
    font-size: 2.2em; 
    font-weight: normal; 
    margin: 0;
}



@media (max-width: 600px) {
    .header-section {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 10px;
    }
    
    .main-title {
        width: 100%; 
        text-align: left; 
        padding-left: 0;
    }
    
    .main-title h1 {
        font-size: 1.5em; 
    }

    .content-section {
        padding: 0 20px 30px 20px; 
    }
}

.content-section {
    padding: 0 50px 50px 100px; 
    max-width: 1000px; 
}
.content-section h3 {
    color: #cccccc;
    font-size: 1.8em;
    margin-top: 30px;
}
.content-section ul {
    list-style: none; 
    padding-left: 0;
}
.content-section p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #cccccc;
}
.image-gallery {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
    margin-top: 40px;
}
.image-gallery img {
    width: 43%; 
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: block;
}
.G2{
    text-align: center;
    font-size: 160%;
    font-weight: 700;
    text-shadow: #1a1a1a;
}
.image img{
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 800px;
    margin: 0 auto;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
}
.G3{
    text-align: center;
    font-size: 160%;
    font-weight: 700;
    text-shadow: #1a1a1a;
}
.image-gallery-2 {
    display: flex;
    justify-content: space-between; 
    gap: 140px;
    margin-top: 30px;
    width: 1200px;
    height: 500px;
    margin-left: 70px;
}
.image-gallery-2 img{
    width: 43%; 
    height: auto;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: block;
}
.G4{
    text-align: center;
    font-size: 160%;
    font-weight: 700;
    text-shadow: #1a1a1a;
}


.top-row img{
    justify-content: center;
    border-radius: 20%;
    gap: 100px;
    width: 340px;
    height: 350px;
    margin-left: 120px;
}

/* --- Доод 2 зураг --- */
.bottom-row {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    gap: 150px; /* дээд зурагны доогуур яг дунд байрлуулахын тулд */
}

.bottom-row img {
  width: 340px;
  height: 240px;
  border-radius: 20%;
}
.my-button{
    display: inline-block;
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 715px;
}

@media (max-width: 600px) {
    .image-gallery {
        flex-direction: column;
    }
    .image-gallery img {
        width: 100%;
        margin-bottom: 15px;
    }
}